

<nav class="navbar navbar-expand-lg bg-dark">

  <div class="container-fluid">
    <div class="collapse navbar-collapse te" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLinkActive="active" routerLink="/Home" >Home <i class="bi  bi-house-door-fill bi-5x " ></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/header">Prodotti
            
          </a>
        </li>
<hr/>


      </ul>
      <nav class="icona navbar navbar-expand-lg bg-drak" routerLink="/Home">
        <i  style ="font-size:70px  " ><img src="../../../assets/img/Love-Shopping .jpg" alt=""  width="150"> </i>
        </nav>

    </div>
    <button class="byn btn-dark my-2" routerLinkActive="active" routerLink="/cart">
      <i  style="font-size: 40px;" class="bi bi-cart-fill"></i>
      <div style="font-size:10px m-3" class="badge bg-danger ">{{totalitemNum}}</div>


    </button>
  </div>
</nav>


